body {
    background-color: #fa7;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 7px

}

h1 {
    border: 5px solid #ffffff;
    border-radius: 20px 0 20px 0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h2 {

}

p {

}
